Validation of dates in user task updates

**Context**

* The user task update REST endpoint implemented with https://github.com/camunda/zeebe/issues/16415 allows to change the `dueDate` and `followUpDate` of a user task in Zeebe.
* Upon modeling a user task, we enforce a certain date-time format. Equally, upon deployment in the engine, we [try to parse](https://github.com/camunda/zeebe/blob/401f1bff7b3a15148de1889d86723a569774b9a3/zeebe/engine/src/main/java/io/camunda/zeebe/engine/processing/bpmn/behavior/BpmnUserTaskBehavior.java#L160-L168) the values for those attributes as dates.
* Those attributes are however just String properties in the user task record. The engine does not interpret those values at any time. We do however rely on the right format in downstream applications like Tasklist.
* We [want to align](https://camunda.slack.com/archives/C06J8TWJN3T/p1707479569926859) all date attributes in the REST API(s) on [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6).

**Open question**

Should we validate the format of the input data when updating user tasks based on user input?

**Options**

There are multiple options to go for here:
* Validate the format in the REST controller in the gateway. We could manifest this in the OpenAPI description, using a [format](https://swagger.io/docs/specification/data-models/data-types/#format) like `date-time`. This already refers to RFC 3339. Validating it manually might however yield more flexibility.
* Validate the format in the UPDATE command processor in the engine.
* Never validate the format for these attributes. Users need to make sure they pass them in the right way.

## REST gateway validation

There are two main options for validating date values in the REST gateway:
* Configure date String attributes in our OpenAPI description with `format: date-time`.
* Keep date String attributes in our OpenAPI description without `format`, document the expected format in the description, and validate the String manually in the controllers.

### Configured `date-time` format

* The Spring-based OpenAPI generator will create classes with `java.time.OffsetDateTime` attributes instead of `String`.
* We could keep those or move to `java.time.ZonedDateTIme` (which is used in the engine upon deployment for those attributes) by configuring `<typeMappings>OffsetDateTime=java.time.ZonedDateTime</typeMappings>` in the OpenAPI Maven plugin in the REST gateway module.
* Using time object classes in the request classes poses a problem: you cannot easily "reset" them. You cannot differentiate a "reset" from a "not sent, please leave untouched" use case.
* Alternative: annotate with the format but use Strings internally in the controllers by configuring the Maven plugin with `<typeMappings>OffsetDateTime=String</typeMappings>`.
  * Adds a proper OpenAPI description but handles the data attributes as String internally.
  * This might lead to unexpected results though when implementing controllers, e.g. in response classes. The configuration is "global" for all DTOs in the REST gateway.

### Configured no format

* The Spring-based OpenAPI generator will create classes with `String` attributes.
* Each controller needs to handle (de-)serialization on its own (could be handled in a helper though).
* Each attribute needs to be properly described with an expected date format in the description.
* Generated clients from the OpenAPI description might not be aware that this is required.